{
   "presets": [
      [
         "@babel/preset-env",
         {
            "targets": {
               "node": "current"
            }
         }
      ]
   ],
   "plugins": [
      [
         "@babel/transform-runtime",
         {
            "regenerator": true
         }
      ],
      "@babel/plugin-proposal-class-properties"
   ]
}
